@import 'materialize';
@import "font-awesome-sprockets";
@import "font-awesome"

body 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn-devise {
  width: 100%;
}


.card-image {
  height: 150px;
}

.home-subtitle {
  margin: 5% 0 5% 0;
}

.fa-social {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .fa-social {
    padding: 0 10%;
  }
}
